.main__page {
  color: blue;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

#gallery {
  display: flex;
  flex-direction: row;
}

#gallery.list {
  text-decoration: none;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
